{% load static %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h5>ABOUT TANESCO</h5>
                <div class="links d-block" style="display: flex; flex-direction: column;">
                   <div class="div"><a href="">Site Map</a></div>
                   <div class="div"><a href="">Feedback</a></div>
                   <div class="div"><a href="">Careers</a></div>
                   <div class="div"><a href="">Staf Area</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>DISCLAIMER</h5>
                <div class="links d-block" style="display: flex; flex-direction: column;">
                    <div class="div"><a href="">Terms of use</a></div>
                    <div class="div"><a href="">Privacy policy</a></div>
                    <div class="div"><a href="">Terms and Condition (Mobile App)</a></div>
                    <div class="div"><a href="">Privacy policy (Mobile App)</a></div>
                 </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Footer 3</h5>
                <div class="links d-block" style="display: flex; flex-direction: column;">
                    <div class="div"><a href="">Site Map</a></div>
                    <div class="div"><a href="">Site Map</a></div>
                    <div class="div"><a href="">Site Map</a></div>
                    <div class="div"><a href="">Site Map</a></div>
                 </div>
            </div>
            <!-- Add more columns for additional footer content -->
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h5>Contact Us</h5>
                <p>Plot No. 114, Block G, Dar es Salaam Road, P.O.Box 453 Dodoma.</p>
                <p>0748 550 000</p>
                <p>customer.service@tanesco.co.tz, communications.manager@tanesco.co.tz</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Reach Us</h5>
                <div class="social-media">
                    <a href="" class="social-link"><img src="/media/icon/icons8-facebook-96.png" alt=""></a>
                    <a href="" class="social-link"><img src="/media/icon/icons8-instagram-96.png" alt=""></a>
                    <a href="" class="social-link"><img src="/media/icon/icons8-twitterx-96.png" alt=""></a>
                    <a href="" class="social-link"><img src="/media/icon/icons8-linkedin-96.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Nikonekti App</h5>
                <div class="nikonekti-app">
                    <a href="#"><img src="/media/icon/play store.png" alt="" class="play-store-img"></a>
                    <a href="#"><img src="/media/icon/app store.png" alt="" class="app-store-img"></a>
                </div>
            </div>
            <!-- Add more columns for additional footer content -->
        </div>
    </div>
</div>
